.app-section{
  width: 30rem;
  min-height: 100vh;
  margin:0 auto;
  background-color: rgb(52, 51, 51);
}
.header-section{
  background: linear-gradient(to bottom right, rgb(89, 92, 108), #b7b6cf); /* Dark on the left (#333) to light on the right (#fff) */
  background-color: rgb(128, 129, 129);
  padding-bottom: 2rem;
}
.main-heading-section{
  display:flex;
  justify-content: space-between;
  padding:0 1rem;
  margin: 0;
}
.back-button-Reg{
  font-size: 1.9rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.main-heading-section h2{
  text-transform: uppercase;
  border-top: 2px solid #d8e301;
  border-bottom: 2px solid #ced807; /* Adjust the line style and color as needed */
  padding-bottom: 5px; 
  color:gold
}
.flag-section{
  display: flex;
  align-items: center;
}
.flag-section img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: .5rem;
}
.login-content{
  margin-left: 2rem;
}
.login-content h4{
  margin: 0;
  margin-bottom: .7rem;
  font-size: 1.2rem;
  font-weight: 650;

}
.login-content p{
  margin: 0;
}

/*           BODY SECTION      */
.grid{
  display: grid;
  margin:.2rem 0;
}
.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}
.body-section{
  margin:0 1.7rem;
 
}
.icon-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c5c2c2;
  border-bottom: 2px solid wheat;
  /* color:rgb(210, 184, 37); */
}
.clicked{
  color:rgb(210, 184, 37);
  border-bottom: 3px solid rgb(210, 184, 37);
}
.icon-section h3{
  margin-top: .2rem;
  font-weight: 380;
}
.display-flex{
  display:flex;
  align-items: center;
}
.input-section{
  margin:.8rem auto;
}
.inputName-section h3{
  font-weight: 440;
  color: whitesmoke;
  margin-left: .8rem;
}
input{
  font-size: .9rem;
  line-height: 3.7;
  width: 90%;
  background-color: rgb(92, 92, 91);
  border-radius: 15px;
  font-weight: 550;
}
/* Hide the increment and decrement arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder{
  font-size: 1.05rem;
  color: #c5c2c2;
  padding-left: 1.3rem;
}
.hide-button{
  margin-left: -2rem;
  color: #949103;
}
Checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff; /* Border color for the checkbox */
}
.checkbox{
  background-color: #fff;
}
.display-flex p{
  font-size: 1rem;
  color: #8f8383;
}
.btn{
  height: 3.4rem;
  width: 90%;
  border-radius: 6rem;
  margin: .8rem;
  border:3px solid rgb(210, 184, 37);
  font-size: 1.5rem;
  font-weight: 550;
  
}
.logIn-button{
  background-color: rgb(140, 140, 222);
  border:none;
}
.button-transparent{
  background-color: transparent;
}
.btn-link{
  font-size:1.5rem;
  font-weight: 550;
  text-decoration: none;
  color: #8f5206;
}
.forget-section{
  margin: auto;
  margin-top:2rem;
  padding-top: 1rem;
 
}
.forget-icons{
  border:none
}
.forget-icons h4{
  margin: .2rem;
}